# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env/

# Environment variables
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Node
node_modules/

# Build
dist/
build/

# Stockfish 
stockfish-windows-x86-64-sse41-popcnt/